// Import all theme files
// Each theme sets CSS variables scoped to body.theme-*

@import 'theme-dark';
@import 'theme-light';
@import 'theme-star-wars';
@import 'theme-marvel';
@import 'theme-walt-disney';
@import 'theme-pixar';