@import '../../styles/variables';
@import '../../styles/mixins';

.disclaimerPage {
    padding: 2rem;
    padding-top: 100px;
    max-width: 800px;
    margin: 0 auto;
    color: var(--text-color);

    .title {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        color: var(--primary-color);
    }

    .content {
        font-size: 1.1rem;
        line-height: 1.6;

        p {
            margin-bottom: 1rem;
        }
    }
}