@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    border-top: 1px solid var(--border-color);
    font-size: 0.9rem;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.leftColumn {
    display: flex;
    align-items: center;

    .disclaimerLink {
        color: var(--primary-color);
        text-decoration: underline;
        margin-left: 0.5rem;

        &:hover {
            color: var(--text-color);
        }
    }
}

.rightColumn {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        color: var(--text-color);
        text-decoration: underline;

        &:hover {
            color: var(--primary-color);
        }
    }

    .separator {
        margin: 0 0.5rem;
    }
}